BODY { 
  width: 80%; margin-left: 10%;
  font-family: 微軟正黑體,Heiti TC, Hei;
  vertical-align: middle;
  }
Hl { 
  padding: 4pt 16pt;
  border: 1pt solid darkgray;
  background-color: lightgray;
  }
H2 { display: inline-block; }
H3 { text-decoration: underline; color: blue; }
MENU { margin-left: 240px; }
IMG {
  float: left; margin-left: 16pt;
  margin-right: 24pt;
  margin-bottom: 200pt;
  box-shadow: 5px 5px 5px magenta:border-radius: 25px;
}
